<%- include("partials/head")%>

<% if(foro) { %>
<body>
  <div class="container mt-4">
    <div class="card border-secondary ">
      <div class="card-header">Nuevo Post</div>
      <div class="card-body">
        <form action="/updateForo" method="post">
          <div class="mb-3">
            <label for="foro" class="form-label">Titulo</label>
            <input
              type="text"
              class="form-control"
              id="firstName"
              name="firstName"
              placeholder="Titulo del post"
              tabindex="1"
              required
            />
          </div>
          <div class="input-group mt-4">
            <span class="input-group-text">Ingresa el texto</span>
            <textarea class="form-control" aria-label="With textarea" id="Texto" name="Texto" placeholder="Escribi aqui"  tabindex="2"></textarea>
          </div>
          <div class="mt-4">
            <label for="foro" class="form-label">Imagen</label>
            <input
              type="text"
              class="form-control"
              id="Imagen"
              name="Imagen"
              placeholder="url de la imagen"
              tabindex="2"
              required
            />
          <button type="submit" class="btn btn-primary mt-4" tabindex="3">
            Guardar
          </button>
          <a href="/foro" class="btn btn-secondary mt-4 ">Cancelar</a>
        </form>
      </div>
    </div>
  </div>
</body>

<%- include("partials/footer")%>