<%- include("partials/head")%>

<body>
    <%- include("partials/navbar")%>
    <div class="boton-inicio">
    <a href="/foro"  class="btn btn-info mt-4" type="button"></button><i class='bx bx-book-bookmark bx-lg' ></i></a>
    </div>
        <!-- SECTION -->
    
          <h2 style="color: black;"><span>Bienvenido</span></h2>
        
        </div>
    </section>
</body>

<%- include("partials/footer")%>